* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    margin: auto;
    background-color: #483737ff;
    color:#c8b7b7;
    overflow-y: hidden;    
    transition: 1s;
}

.home {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.thumbnail {
    width: 85%;
    margin: 15px auto;
}

.thumbnail .foto {
    margin: auto;
    height: 230px;
    width: 230px;
    border-radius: 5px;
    border: 2px solid #c8b7b7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61) ;
    background-image: url(img/ari.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.bg {
    transition: 0.5s;
}

.foto:hover .bg {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100%;
    height: 100%;
}
.sosmed {
    width: 80%;
    transform: scale(0);
    transition: 00.5s;
    margin-bottom: -40px;
}

.sosmed ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.caption {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.562);
    color: rgb(196, 187, 187);
    transition: 0.5s;
    cursor:context-menu;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    transform: translateY(-4px);
}

.judul h1 {
    text-shadow: 2px 2px 2px black;
}

.caption h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
}

.caption h2 {
    font-size: 1em;
    font-weight: 200;
}

.foto:hover .caption {
    transform: translateY(45px);
    width: 100%;
    color: white;
    border-radius: unset;
}

.foto:hover .sosmed {
    transform: scale(1);
}

.sosmed a {
    color: unset;
    text-decoration: none;
}

.sosmed li:nth-child(1){
    color: rgb(40, 67, 187);
}

nav {
    position: fixed;
    left: 0;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 300px;
}

nav ul :nth-child(1) {
    order: 2;
}

nav ul :nth-child(2) {
    order: 1;
}
nav ul :nth-child(3) {
    order: 3;
}

nav ul a {
    color: #c8b7b7;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

nav ul a:hover {
    color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.61);
    transform: translateY(5px);
}

.about {
    height: 100%;
    width: 100%;
    background-color: rosybrown;
}

.aktif {
    color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.61);
    transform: translateY(5px);
}
